---
import Layout from '../layouts/Layout.astro';
---

<Layout title="kzgrm" description="kzgrm">
  <h1>About Us</h1>
  <p>かざぐるまっていうサークルのホームページだよ～～～～</p>

  <h2>Accounts</h2>
  <ul>
    <li>Discord</li>
    <li>mail</li>
  </ul>
  風下-kazashimo
  <ul>
    <li>
      <a href="https://www.youtube.com/@kazashimo_ch" target="_blank" rel="noopener noreferrer">
        YouTube: @kazashimo_ch
      </a>
    </li>
    <li>
      <a href="https://x.com/haru01234567890" target="_blank" rel="noopener noreferrer">
        X (Twitter): @haru01234567890
      </a>
    </li>
    <li>
      <a href="https://www.tiktok.com/@kazashimo9346" target="_blank" rel="noopener noreferrer">
        TikTok: @kazashimo9346
      </a>
    </li>
    <li>
      <a href="https://www.amazon.co.jp/hz/wishlist/ls/2PZZB1ZGEC13D?ref_=wl_share" target="_blank" rel="noopener noreferrer">
        Amazonほしい物リスト
      </a>

    </li>
    <li>kzgrm</li>
  </ul>
</Layout>
