---
import Layout from '../layouts/Layout.astro';
---

<Layout title="kzgrm" description="kzgrm">
  <h1>kzgrm</h1>
  <p>kzgrm</p>

  <h2>kzgrm</h2>
  <ul>
    <li>kzgrm</li>
    <li>kzgrm</li>
    <li>kzgrm</li>
  </ul>

  <h2>kzgrm</h2>
  <p>kzgrm</p>
</Layout>
