---
import Layout from '../layouts/Layout.astro';
---

<Layout title="kzgrm" description="kzgrm">
  <h1>kzgrm</h1>
  <p>kzgrm</p>

  <ul>
    <li>kzgrm: <a href="mailto:contact@example.com">contact@example.com</a></li>
    <li>
      kzgrm:
      <a href="https://forms.gle/" target="_blank" rel="noopener noreferrer">kzgrm</a>
    </li>
  </ul>

  <p>kzgrm</p>
</Layout>
