---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const latestActivities = (await getCollection('activities'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<Layout title="kzgrm" description="kzgrm">
  <section>
    <h1>kzgrm</h1>
    <p>
      kzgrm
    </p>
    <p>
      <a href="/about">about</a>
      ・
      <a href="/activities">activities</a>
    </p>
  </section>

  <section>
    <h2>kzgrm</h2>
    <ul>
      {latestActivities.map((activity) => (
        <li>
          <a href={`/activities/${activity.id}/`}>{activity.data.title}</a>
          {' - '}
          {activity.data.date.toLocaleDateString('ja-JP')}
        </li>
      ))}
    </ul>
  </section>
</Layout>
